
desktop/wallpaper.png
android/h8w-android/.idea/caches/gradle_models.ser
android/h8w-android/.idea/gradle.xml
android/h8w-android/.idea/misc.xml
android/h8w-android/.idea/runConfigurations.xml
android/h8w-android/.idea/vcs.xml
desktop/Cargo.lock
